DB_HOST=db
DB_PORT=5432
DB_DATABASE=learningreact
DB_USER=learningreact
DB_PASSWORD=learningreact

DEFAULT_ADMIN_EMAIL=default@admin.com
DEFAULT_ADMIN_PASSWORD=admin

JWT_ACCESS_TOKEN_EXP=600000
JWT_REFRESH_TOKEN_EXP=3600000
TOKEN_EXP=7200

SMTP_SERVER=
SMTP_FROM=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=

BASE_FRONT_URL=